<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: auth_user_path()) do |f| %>
  <%= f.text_field :resource, type: :hidden, value: resource_name %><br />
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
